
seminars/1st_seminar_python/numpy/.ipynb_checkpoints/NumPy-checkpoint.ipynb
seminars/1st_seminar_python/basics/.ipynb_checkpoints/python_basics-checkpoint.ipynb
seminars/1st_seminar_python/homework/.ipynb_checkpoints/hw1_numpy-checkpoint.ipynb
